if VENDOR_NEC

choice
	prompt "Mainboard model"

source "src/mainboard/nec/*/Kconfig.name"

endchoice

source "src/mainboard/nec/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "NEC"

endif # VENDOR_NEC
